<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond $1 !^(index\.php|404\.php|static|upload|robots\.txt|favicon\.ico|uc)
RewriteRule ^(.*)$ /QFrame/index.php/$1 [L]
</IfModule>











